doctype html
html(lang="en")
  head
    title Today@Brown App
    link(href='/static/css/normalize.css', rel='stylesheet')
    link(href='/static/css/layout-style.css', rel='stylesheet')
  body
    h1#title-t-a-b Today@Brown
    .container
      .content
        block content
    footer
      p#footer-p1 YHack 2017
      p#footer-p2 Created by David Hong, Griffin Beels, and Nate Goodman