doctype html
html(lang="en")
  head
    title Today@Brown App
    link(href='/static/css/normalize.css', rel='stylesheet')
    link(href='/static/css/base-style.css', rel='stylesheet')
    link(href='/static/css/layout-style.css', rel='stylesheet')
  body
    #header-background
      h1#title-text
        span#title-t-a-b-name Today@Brown,
        span#some-other-shit  personalized.
    .container
      .content
        block content
    footer
      p#footer-p1 YHack 2017
      p#footer-p2 Created by David Hong, Griffin Beels, Ken Cole, and Nate Goodman
