#header-background {
  height: 16rem;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://today.brown.edu/img/tab-banner.jpg");
}

/* -------------------- */


#title-text {
  font-size: 3.6rem;
  text-align: center;
  padding: 5.0rem 5.0rem;
  color: white;
  text-decoration: none;
  font-weight: 300;
}

#title-t-a-b-name {
  color: #E6B0AA;
  font-weight: 700;
}

/* -------------------- */


.container {
  max-width: 70.0rem;
  margin-left: auto;
  margin-right: auto;
}

/* -------------------- */

#content-area-title {
  text-align: center;
  color: #7B241C;
}


/* -------------------- */

.announcement-ele, .event-ele {
  padding: 0.8rem;
  text-align: center;

  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}


.announcement-ele:nth-child(even), .event-ele:nth-child(even) {
  background-color: #f3f3f3;

}

.announcement-ele:hover, .event-ele:hover {
  background-color: #E6B0AA;
}

.ele-title {
  font-size: 1.4rem;
  text-decoration: none;
  line-height: 1;
  margin-top: 6px;
  margin-bottom: 4px;
}

.ele-from-to, .ele-time, .ele-location {
  margin: 2px 0;
  color: #888;
  font-size: 1.0rem;
  text-decoration: none;
  font-variant: small-caps;
  line-height: 1;
}

.ele-info {
  margin: 10px 0;
  font-size: 1.2rem;
  line-height: 1;
}

.ele-more-info {
  margin: 4px 0;
  font-size: 1.0rem;
  line-height: 1;
}

/* -------------------- */


footer {
  background-color: #444;
  color: white;
  text-align: center;
  padding: 45px;
  font-size: 1.2rem;
  line-height: 1;
}
