#header-background {
  height: 18.0rem;
  background-color: #7B241C;
}

div.hidden {
    display: none
}

/* -------------------- */

.container {
  max-width: 70.0rem;
  margin-left: auto;
  margin-right: auto;
}

/* -------------------- */

#more-info-area {
  display: block;
  position: absolute;
  z-index: 10;

  
  width: 70.0rem;
  height: 70.0rem;
  margin: 0 auto;
  box-sizing: border-box;
  
  background-color: yellow;
}


/* -------------------- */


#title-text {
  font-size: 4.0rem;
  text-align: center;
  padding: 6.0rem 6.0rem;
  color: white;
  text-decoration: none;
  font-weight: 300;
}

#title-t-a-b-name {
  color: #E6B0AA;
  font-weight: 700;
}


/* -------------------- */

#content-area-title {
  text-align: center;
  color: #7B241C;
}


/* -------------------- */

.announcement-ele, .event-ele {
  display: block;
  padding: 1.1rem;
  text-align: center;

  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}


.announcement-ele:nth-child(even), .event-ele:nth-child(even) {
  background-color: #f3f3f3;

}

.announcement-ele:hover, .event-ele:hover {
  background-color: #F2D7D5;
  cursor: pointer;
  -webkit-transition-duration: 0.05s; /* Safari */
  transition-duration: 0.05s;
}

.announcement-ele:active, .event-ele:active {
  background-color: #D98880;
}

.ele-title {
  font-size: 1.4rem;
  text-decoration: none;
  line-height: 1;
  margin-top: 6px;
  margin-bottom: 4px;
}

.ele-from-to, .ele-time, .ele-location {
  margin: 2px 0;
  color: #888;
  font-size: 1.0rem;
  text-decoration: none;
  font-variant: small-caps;
  line-height: 1;
}

.ele-info {
  margin: 10px 0;
  font-size: 1.2rem;
  line-height: 1;
}

.ele-more-info {
  margin: 4px 0;
  font-size: 1.0rem;
  line-height: 1;
}

/* -------------------- */


footer {
  background-color: #444;
  color: white;
  text-align: center;
  padding: 45px;
  font-size: 1.2rem;
  line-height: 1;
}